.editor {
    border: 1px solid #ccc;
    padding: 10px;
}
.editor_button{
    margin: 0px 20px;
}
.editor_button button {
    margin: 0px 10px;
}
.div{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-color: white;
    padding: 50px  50px;
}
